<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        <div th:fragment="header(myprofile)">
            <br />
            FriendBook              
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/profiles}">Profiles</a>      
            <a th:href="@{/profiles/{identifier}(identifier=${myprofile})}">My profile</a> 
            <a th:href="@{/profiles/{identifier}/photos (identifier=${myprofile})}">Photos</a>
            <a th:href="@{/profiles/{identifier}/friendrequests (identifier=${myprofile})}">Friend requests</a>
            <a th:href="@{/profiles/{identifier}/settings (identifier=${myprofile})}">Settings</a>
            &nbsp; | &nbsp;
            <a th:href="@{/logout}">Logout</a>
            <br />
            <br />
            <hr />
        </div>
    </body>
</html>
