<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8" />
        <title>FriendBook</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header(myprofile)">            
            <a class="navbar-brand" th:href="@{/}">FriendBook</a>              
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/home}">Home</a>      
                <a class="nav-item nav-link" th:href="@{/profiles}">Profiles</a>      
                <a class="nav-item nav-link" th:href="@{/profiles/{identifier}(identifier=${myprofile})}">My profile</a> 
                <a class="nav-item nav-link" th:href="@{/profiles/{identifier}/photos (identifier=${myprofile})}">Photos</a>
                <a class="nav-item nav-link" th:href="@{/profiles/{identifier}/friendrequests (identifier=${myprofile})}">Friend requests</a>
                <a class="nav-item nav-link" th:href="@{/profiles/{identifier}/settings (identifier=${myprofile})}">Settings</a>            
                <a class="nav-item nav-link ml-5" th:href="@{/logout}">Logout</a>            
            </div>                        
        </nav>
        
        <!-- Index navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="indexNav">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">FriendBook</a>              
                <div class="navbar-nav">
                    <a class="nav-link nav-item" th:href="@{/login}">Login</a>
                    <a class="nav-link nav-item" th:href="@{/signup}">Signup</a>
                </div>
            </div>
        </nav>
        
        <!-- Footer -->
        <footer class="container-fluid d-flex justify-content-center" th:fragment="footer">
            <div class="text-center p-4">
                <nav class="nav">
                    <a class="nav-link nav-item" th:href="@{/}">Home</a>    
                    <a class="nav-link nav-item" th:href="@{/login}">Login</a>
                    <a class="nav-link nav-item" th:href="@{/signup}">Signup</a>
                </nav>
            <div>a Mikael Törnwall production</div>            
            <div>FriendBook &copy; 2019</div>            
            </div>
        </footer>
        
    </body>
</html>
