<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>

        <div th:replace="fragments/layout :: header(myprofile=${myprofile})"></div>
        <div>Friends: </div>
        
        <div th:each="friend : ${friends}">
            <p th:text="${friend.person.username}"></p>
            <p th:text="${friend.person.name}"></p>
        </div>
    </body>
</html>
