<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header(myprofile=${myprofile})"></div>
        
        <div>Photos</div>
        <div>
            <a th:href="@{/profiles/{identifier}/photos/add (identifier=${myprofile})}">Add photo</a>
        </div>
        
        <h3>Album</h3>
        <div th:each="photo : ${photos}">
            <a th:href="@{/profiles/{identifier}/photos/{id} (identifier=${profile}, id=${photo.id})}">
            <img th:src="@{/profiles/{identifier}/photos/{id} (identifier=${profile}, id=${photo.id})}" th:alt="${photo.description}" width="350" />
            </a>
            
            <br />
            
            <i th:text="${photo.description}"></i>            
            
            <form th:action="@{/profiles/{identifier}/photos/{id}/like (identifier=${profile}, id=${photo.id})}" method="POST">
                <input type="submit" th:value="${photo.likes}" />           
            </form>
            <div th:if="${myprofile} == ${photo.photoAlbum.owner.identifier}">
                <form th:action="@{/profiles/{identifier}/photos/{id}/delete (identifier=${profile}, id=${photo.id})}" method="POST">
                    <input type="submit" value="Delete" />
                </form>                            
            </div>
            
            <form th:action="@{/profiles/{identifier}/photos/{id}/comment (identifier=${profile}, id=${photo.id})}" method="POST">
                Write comment: <textarea rows="1" cols="30" name="comment"></textarea>
                <input type="submit" value="Comment" />
            </form>
            
            Comments: 
            <div th:each="comment : ${photo.comments}">
                <span th:text="${#temporals.format(comment.datetime, 'dd-MM-yyyy HH:mm')}"></span>
                &nbsp;
                <span th:text='${comment.commenter.username}'></span>
                <div th:text="${comment.content}"></div>
            </div>
            
            <br />
        </div>
    </body>
</html>
