<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>FriendBook</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header(myprofile=${myprofile})"></div>
        
        <div class="container p-4">
        
        <div th:if="${myprofile == profile}" class="text-right">
            <a class="h1 fas fa-plus text-decoration-none text-dark" th:href="@{/profiles/{identifier}/photos/add (identifier=${myprofile})}"></a>
        </div>
        
            <div class="container row pt-3">
                <div class="col-3"></div>
                <!-- <div class="col-1 d-flex justify-content-center pt-5 mt-5 h1" th:if="${!photos.isEmpty()}" ><i class="fas fa-chevron-left"></i></div>
                <div class="col-1 pt-5 mt-5 h1" th:if="${photos.isEmpty()}" ></div> -->
                
                <div class="col-6">        
                    <div class="lead d-flex justify-content-center align-items-center" th:if="${photos.isEmpty()}" th:text="${profile + ' does not seem to have any photos yet'}"></div>                    
                    <div th:each="photo : ${photos}">
                        <a th:href="@{/profiles/{identifier}/photos/{id} (identifier=${profile}, id=${photo.id})}">
                            <img class="img-fluid" th:src="@{/profiles/{identifier}/photos/{id} (identifier=${profile}, id=${photo.id})}" th:alt="${photo.description}" />
                        </a>                        
            
                        <br />
                        <i class="text-muted" th:text="${photo.description}"></i>                                                
                        
                        <div class="text-right" th:if="${myprofile} == ${photo.photoAlbum.owner.identifier}">
                            <form class="form-group" th:action="@{/profiles/{identifier}/photos/{id}/delete (identifier=${profile}, id=${photo.id})}" method="POST">
                                <button class="btn btn-dark far fa-trash-alt" type="submit"></button>
                            </form>                                                
                        </div>
            
                        <div class="container row mt-2">
                            
                            <div class="col-3">
                                <form class="form-group" th:action="@{/profiles/{identifier}/photos/{id}/like (identifier=${profile}, id=${photo.id})}" method="POST">
                                    <button class="btn btn-danger far fa-heart" type="submit"><strong style="font-family:'Helvetica Neue'" th:text="' ' + ${photo.likes}"></strong></button>          
                                </form>
                            </div>
                                
                            <div class="col-9">
                            <form class="form-group" th:action="@{/profiles/{identifier}/photos/{id}/comment (identifier=${profile}, id=${photo.id})}" method="POST">
                                <input class="form-control" type="textfield" name="comment" placeholder="Write a comment"></input>
                                <button class="btn btn-dark mt-1" type="submit">Comment</button>
                            </form>   
                            </div>    
                                
                        </div>
            
            <div th:each="comment : ${photo.comments}">
                
                <small class="text-muted" th:text="${#temporals.format(comment.datetime, 'dd-MM-yyyy HH:mm')}"></small>
                &nbsp;
                <a class="text-dark" th:href="@{/profiles/{identifier} (identifier=${comment.commenter.identifier})}" th:text="${comment.commenter.username + ' commented:'}"></a>
                <div class="mb-2" th:text="${comment.content}"></div>
            </div>
            
            <br />
        </div>
        </div>
                <!-- <div class="col-1 d-flex justify-content-center pt-5 mt-5 h1" th:if="${!photos.isEmpty()}"><i class="fas fa-chevron-right"></i></div> -->
                <div class="col-3"></div>
        </div>
        <!-- Album ends here --> 
        </div>
    </body>
</html>
