<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header(myprofile=${myprofile})"></div>
        
        <br />
        <div>Search profiles</div>                                
        
        <form th:action="@{/profiles}" method="POST" >
            <input type="text" name="username" />
            <input type="submit" value="Search!" />
        </form>        
        
        <br />
        
        <h2>Profiles</h2>
        <div th:each="profile : ${profiles}">
            <div th:if="${profile.user != true}">
                <a th:href='@{/profiles/{identifier}(identifier=${profile.account.identifier})}'>
                    <span th:text="${profile.account.username}"></span> &nbsp;         
                    <span th:text="${profile.account.name}"></span>   
                </a>
            
                <div th:if="${profile.friend != true}">
                    <form th:action="@{/profiles/add/{identifier}(identifier=${profile.account.identifier})}" method="POST">
                        <input type="submit" value="Send request" />
                    </form>
                </div>
            </div>
        </div> 
    </body>
</html>
