<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header(myprofile=${myprofile})"></div>
        
        <h1>Hello Profile!</h1>
        
        <p th:text="${profile.username}"></p>
        
        <button><a th:href="@{/profiles/{identifier}/friends(identifier=${profile.identifier})}">Friends</a></button>
        
        <h3>Messages</h3>
        <p>Write new message</p>
        <form th:action="@{/profiles/{identifier}/newpost (identifier=${profile.identifier})}" method="POST">            
            <textarea cols="50" rows="10"></textarea>
            <br />
            <input type="submit" value="New post" />
        </form>
    </body>
</html>
