<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>FriendBook</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header(myprofile=${myprofile})"></div>
        
        <div class="container p-4">
        <div>
            <h2><i class="fas fa-cog"></i> Settings</h2>
            <div class="mt-4">
                <a class="text-dark" th:href="@{/profiles/{identifier}/selectprofilepicture (identifier=${myprofile})}"><i class="fas fa-user"></i> Change profile picture</a> 
                <br/>
                <br/>
                <a class="text-dark" th:href="@{/profiles/{identifier}/photos/add (identifier=${myprofile})}"><i class="fas fa-plus"></i> Add photos</a>                
                <br/>
                <br/>
                <a class="text-dark" th:href="@{/profiles/mikael/friendrequests (identifier=${myprofile})}"><i class="fas fa-user-friends"></i> Manage friend requests</a>
                </div>
        </div>
            </div>
    </body>
</html>
